
.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
	overflow-x: hidden;
	max-width: 600px;
	width: 600px;
  max-height: 852px;
  gap: 16px;
}

.link {
  text-decoration: none;
}
