.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 180px;
  width: 480px;
}

.title {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.form_fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: none;
}

/* .form_input {
  padding: 20px 24px;
  text-align: left;
} */

/* .button {
  width: 253px;
} */

.additional {
  display: flex;
  margin: 80px auto 0;
  gap: 8px;
}

.link {
  color: #4C4CFF;
}