.edit {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: none;
}

.buttons {
  display: flex;
  align-self: flex-end;
}

.navlink {
  text-decoration: none;
}

.link {
  transition: color 0.5s ease;
  line-height: 60px;
  height: 64px;
}

.link:hover {
  color: #f2f2f3;
}

.linkActive {
  color: #f2f2f3;
  cursor: default;
}